<div class="footer-container">
    <div class="content-container">
        <div class="row">
            <div class="col denuncias-text">
            Denuncias en Flagrancia
            </div>
        
        </div>
        
        <!-- Segunda fila -->
        <div class="row">
            <div class="col">
                <h3 class="footer-title">Fiscalía Provincial Penal de Turno</h3>
                <p class="footer-subtitle">051 983979333</p>
                <p class="footer-text">
                    <span class="bold-text">Fiscalía de Violencia Contra la Mujer y los Integran. del Grupo Familiar de turno:</span> 
                    +51 944 986 524, +51 944 987 056, +51 944 985 723
                </p>
            </div>
            <div class="col">
                <h3 class="footer-title">Fiscalía Provincial Penal de Turno</h3>
                <p class="footer-text">
                    <span class="bold-text">Miraflores: </span> 
                    +51 920 388 902
                </p>
                <p class="footer-text">
                    <span class="bold-text">San Isidro: </span> 
                    +51 921 814 062, +51 922 636 145
                </p>
                <p class="footer-text">
                    <span class="bold-text">Surquillo: </span> 
                    +51 926 132 728, +51 922 692 129
                </p>
            </div>
            <div class="col">
                <h3 class="footer-title">Fiscalía Provincial Penal de Turno</h3>
                <p class="footer-text">
                    <span class="bold-text">Magdalena del Mar: </span> 
                    +51 932 729 703, +51 932 728 020, +51 932 737 155
                </p>
                <p class="footer-text">
                    <span class="bold-text">San Borja: </span> 
                    +51 944 987 288, +51 945 306 625
                </p>
                <p class="footer-text">
                    <span class="bold-text">La Victoria: </span> 
                    +51 937 568 749, +51 937 561 786
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <h3 class="footer-title">Mesa de Partes Electrónica</h3>
               
                <p class="footer-text">
                    Es parte de la Carpeta Fiscal Electrónica, que busca agilizar procesos de investigación a cargo de la fiscalía y forma parte de la política de modernización del Ministerio Público.
                </p>
            </div>
            <div class="col">
                <h3 class="footer-title">Contacto</h3>
                <p class="footer-text">
                    <span class="bold-text">Ministerio Público - Fiscalía de la Nación (Central telefónica): </span> 
                    625 5555
                </p>
                <p class="footer-text">
                    <span class="bold-text">Línea Gratuita: </span> 
                    0 800 00 205
                </p>
                <p class="footer-text">
                    <span class="bold-text">Página Web </span> 
                    www.gob.pe/mpfn
                </p>
            </div>
            <div class="col">
                <h3 class="footer-title">Ayuda</h3>
          
                <p class="footer-text">
                 
                    Preguntas frecuentes
                </p>
            </div>
        </div>

        <!-- Cuarta fila con una columna centrada -->
        <div class="row centered-row">
            <div class="col col-centered">
                <div class="mpfe-icons">
                    <img
                        class="logo logo_mpe"
                        src="assets/images/logo_mpfn_color.svg"
                        alt="Logo de  Ministerio Público"
                    >
                    <img
                    class="logo logo_mpe"
                    src="assets/images/logo_mpe_color.svg"
                    alt="Logo  de Mesa de Partes"
                    >
                    <img
                    class="logo logo_mpe"
                    src="assets/images/logo_cfe_color.svg"
                    alt="Logo de Carpeta Fiscal Electrónica"
                >
                </div>
            </div>
        </div>

    
    </div>
   
</div>
<div class="footer-disclaimer">
    © 2023 Ministerio Público - Fiscalía de la Nación, v1.6.3
</div>