<div class="text-xl font-semibold mt-6">Datos de la denuncia</div>
<p>Por favor complete los datos sobre su denuncia.</p>

<div class="mx-auto" style="max-width: 60rem;">
  <p-accordion [activeIndex]="0">
    <p-accordionTab header="Indícanos dónde y cuándo sucedió" tabStyleClass="mb-3">
      <complaint-scene-place></complaint-scene-place>
    </p-accordionTab>
    <p-accordionTab header="Proporciona una explicación detallada de lo que ocurrió" tabStyleClass="mb-3">
      <complaint-scene-details></complaint-scene-details>
    </p-accordionTab>
    <p-accordionTab header="Agraviados" tabStyleClass="mb-3">
      <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
        distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
      </p>
    </p-accordionTab>
  </p-accordion>

</div>
